# Skrypty w innych językach niz PHP
php/tests/*.py

# Konfiguracja GitPod TS
.github/gitpod/_config.ts

# JSON
wp/wp-includes/sodium_compat/composer.json

# MarkDown w subfolderze sql/
/scripts/sql/*.md

# Foldery ignorowane w całości
md/
php/tests/bash/
php/inc/logger/

# PHP
scripts/tab-dicker.php

# JS (and derrativates)
scripts/sql/js/mapLoad.js